---
import Layout from '../layouts/Layout.astro';
import Countdown from "../components/Countdown.svelte";

---

<Layout  title="Kerala Startup Mission"></Layout>

<!-- 
	<div id="switch-color" class="color-switcher">
		<div class="open"><i class="fas fa-cog fa-spin"></i></div>
		<h4>COLOR OPTION</h4>
		<ul>
			<li><a class="color-2" onclick="setActiveStyleSheet('color-2'); return true;" href="#!"><i class="fas fa-circle"></i></a> </li>
			<li><a class="color-3" onclick="setActiveStyleSheet('color-3'); return true;" href="#!"><i class="fas fa-circle"></i></a> </li>
			<li><a class="color-4" onclick="setActiveStyleSheet('color-4'); return true;" href="#!"><i class="fas fa-circle"></i></a> </li>
			<li><a class="color-5" onclick="setActiveStyleSheet('color-5'); return true;" href="#!"><i class="fas fa-circle"></i></a> </li>
			<li><a class="color-6" onclick="setActiveStyleSheet('color-6'); return true;" href="#!"><i class="fas fa-circle"></i></a> </li>
			<li><a class="color-7" onclick="setActiveStyleSheet('color-7'); return true;" href="#!"><i class="fas fa-circle"></i></a> </li>
			<li><a class="color-8" onclick="setActiveStyleSheet('color-8'); return true;" href="#!"><i class="fas fa-circle"></i></a> </li>
			<li><a class="color-9" onclick="setActiveStyleSheet('color-9'); return true;" href="#!"><i class="fas fa-circle"></i></a> </li>
		</ul>
		<button class="switcher-light">WIDE </button>
		<button class="switcher-dark">BOX </button>
		<a class="rtl-v" href="RTL_Genius/index.html">RTL </a>
	</div> -->



 	<!-- Start of slider section
 		============================================= -->
 		<section id="slide" class="slider-section">
			<div id="" class="slider-item-details">
				<div  class="slider-area slider-bg-5 relative-position">
					<div class="slider-text">
						<div class="section-title mb20 headline text-left ">
							<!-- <div class="layer-1-1">
								<span class="subtitle ml42 text-uppercase">
									Kerala Startup Mission and the Centre of Excellence in Microbiome (CoEM) is jointly organising a Microbiome Conclave and Ideathon.

								</span>
							</div> -->
							<div class="layer-1-3">
								<h2><span> Microbiome<br>Conclave</span><br> and <span>Ideathon</span></h2>
							</div>
						</div>
						<div class="layer-1-4">
							
						</div>
					</div>
				</div>
			</div>
		</section>
   <!-- End of slider section
	   ============================================= -->
	   




	<!-- Start of Search Courses
		============================================= -->
		<section id="search-course" class="search-course-section search-course-third">
			<div class="container">
				<div class="search-counter-up">
					<div class=" item-center justify-center text-center flex">
						<div class="about-content-text text-xl md:max-w-4xl w-full">
							<p class="mb-6 text-xl">
								Kerala Startup Mission and the Centre of Excellence in Microbiome (CoEM) is jointly organising a Microbiome Conclave and Ideathon.
							</p>
						</div>
					</div>
					<div class=" flex items-center justify-center">
						<div class=" w-screen container items-center justify-center   text-black">
						   <div class="flex justify-between w-full">
							  <div class="flex md:text-2xl text-xl font-semibold gap-3 items-center justify-center">
								 <i class="fas fa-calendar"></i>  March 05
							  </div>
							  <div class="md:flex hidden">
								 <Countdown date="2025-03-05T09:00" client:load ></Countdown>
							  </div>
							  <div class="flex md:text-2xl text-xl font-semibold gap-3 items-center justify-center">
								 <i class="fas fa-map-marker-alt"></i> ISC Kochi
							  </div>
						   </div>
						</div>
					 </div>
				</div>
			</div>
		</section>



		<section id="conclave" class="about-us-section home-secound home-third">
			<div class="container" >
				<div class="row">
					<div class="col-md-5">
						
						<div class="">
							<img src="/img/bg3.jpg" alt="">
						</div>
					</div>
					<!-- /form -->

					<div class="col-md-7">
						<div class="about-us-text">
							<div class="section-title relative-position mb20 headline text-left">
								<h2><span>MICROBIOME CONCLAVE</span>
							</div>
							<div class="about-content-text">
								<p class="mb-6">
									Microbiome conclave aims to foster innovative solutions to pressing microbiome-related challenges and facilitate collaboration among academia, industry, and policymakers.
								</p>
								<span class="subtitle text-uppercase text-black font-bold"> Why to Attend?</span>

								<div class="about-list mb-8 ul-li-block mt-4">
									<ul>
										<li>Network with microbiome researchers, startups & industry leaders</li>
										<li>Explore funding & entrepreneurship opportunities</li>
										<li>Gain exclusive insights about latest trends, research and policy updates</li>
									</ul>
								</div>
								<span class="subtitle text-uppercase text-black font-bold">Who can attend?</span>
								<div class="pt-4 pb-4 text-[#095b8e]">
									Research Scholars | Faculty Members | Industrialists | Startups | Policy Makers & Govt. Officials | Representatives of FPOs and FPCs
								</div>
								<div class="about-btn">
									<div class="genius-btn gradient-bg text-center text-uppercase ul-li-block bold-font">
										<a href="#">Register for Conclave
											<i class="fas fa-caret-right"></i></a>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!-- End of Search Courses
		============================================= -->



	<!-- Start why choose section
		============================================= -->
		<section id="ideathon" class="why-choose-section version-four backgroud-style">
			<div class="container" >
				<div class="section-title mb20 headline text-center">
					<h2><span>MICROBIOME IDEATHON
					</span></h2>
					<div class="text-white text-lg pt-2 pb-8  w-full items-center justify-center text-center flex">
						<p class="text-white items-center justify-center text-center flex max-w-4xl">
							The Ideathon will provide participants with a platform to solve real-world microbiome problem statements.
						</p>
					</div>
				</div>
				<div class="extra-features-content">
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="extra-left">
								<div class="extra-left-content">
									<div class="extra-icon-text text-left">
										<div class="features-icon gradient-bg text-center">
											<img src="/img/i1.png" class="p-3" alt="img">
											<div class="feat-tag">
												<span>01</span>
											</div>
										</div>
										<div class="features-text">
											<div class="features-text-title">
												<h3>Human Microbiome
												</h3>
											</div>
											<div class="features-text-dec text-white pt-1">
												<span>Innovative approaches in human gut microbiome sampling
												</span>
											</div>
										</div>
									</div>
								</div>
								<!-- // extra-left-content --> 

								<div class="extra-left-content">
									<div class="extra-icon-text">
										<div class="features-icon gradient-bg text-center">
											<img src="/img/i2.png" class="p-3" alt="img">
											<div class="feat-tag">
												<span>02</span>
											</div>
										</div>
										<div class="features-text pt25">
											<div class="features-text-title">
												<h3>Animal Microbiome
												</h3>
											</div>
											<div class="features-text-dec text-white pt-1">
												<span>Microbiome based products as immunity boosters or prebiotic formulations for animals
												</span>
											</div>
										</div>
									</div>
								</div>
								<!-- // extra-left-content -->

								<div class="extra-left-content">
									<div class="extra-icon-text">
										<div class="features-icon gradient-bg text-center">
											<img src="/img/i3.png" class="p-3" alt="img">
											<div class="feat-tag">
												<span>03</span>
											</div>
										</div>
										<div class="features-text pt25">
											<div class="features-text-title">
												<h3>Aquatic Microbiome
												</h3>
											</div>
											<div class="features-text-dec text-white pt-1">
												<span>Microbial solution to combat antibiotic overuse and chemical byproduct control in aquaculture
												</span>
											</div>
										</div>
									</div>
								</div>
								<!-- // extra-left-content -->
							</div><!-- /extra-left -->
						</div>
						<!-- /col-sm-3 -->

						<div class="col-sm-4">
							<div class="extra-pic text-center">
								<img src="/img/bg4.png" alt="img">
							</div>
						</div>
						<!-- /col-sm-6 -->

						<div class="col-md-4 col-sm-6">
							<div class="extra-right">
								<div class="extra-left-content">
									<div class="extra-icon-text text-right">
										<div class="features-icon gradient-bg text-center">
											<img src="/img/i4.png" class="p-3" alt="img">
											<div class="feat-tag">
												<span>04</span>
											</div>
										</div>
										<div class="features-text pt25">
											<div class="features-text-title text-right pb10">
												<h3>Plant Microbiome
												</h3>
											</div>
											<div class="features-text-dec text-right text-white pt-1">
												<span>Microbiome based solution for value addition of agriculture produce
												</span>
											</div>
										</div>
									</div>
								</div>
								<!-- // extra-left-content -->

								<div class="extra-left-content">
									<div class="extra-icon-text text-right">
										<div class="features-icon gradient-bg text-center">
											<img src="/img/i5.png" class="p-3" alt="img">
											<div class="feat-tag">
												<span>05</span>
											</div>
										</div>
										<div class="features-text pt25">
											<div class="features-text-title text-right pb10">
												<h3>Environmental Microbiome
												</h3>
											</div>
											<div class="features-text-dec text-right text-white pt-1">
												<span>Microbial alternatives to plastics or combating microplastics
												</span>
											</div>
										</div>
									</div>
								</div>
								<!-- // extra-left-content -->

								
								<!-- // extra-left-content -->
							</div><!-- /extra-left -->
						</div>
						<!-- /col-sm-3 -->
					</div><!-- /row -->
				</div>
			</div>
		</section>

		<div class=" pt-10 pl-4  container">
			<div class="genius-btn gradient-bg text-center text-uppercase ul-li-block bold-font">
				<a href="https://docs.google.com/forms/d/1RkzH3VkeT2-WJqOQfrQgflKinSU3vnkQDR5ca81Dw5w/preview" target="_blank">Apply for Ideathon
					<i class="fas fa-caret-right"></i></a>
			</div>
			<div class="text-black pt-1 text-sm ">
				<p> Application Deadline February 19, 2025</p>
			</div>
		</div>
	<!-- End why choose section
		============================================= -->

	<!-- Start of footer section
		============================================= -->
		<footer>
			<section id="footer-area" class="footer-area-section">
				<div class="container">
					
					<div class="copy-right-menu">
						<div class="row">
							<div class="col-md-6">
								<div class="copy-right-text">
									<p>© 2018 - www.GeniusCourse.com. All rights reserved</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="copy-right-menu-item float-right ul-li">
									<ul>
										<li><a href="#">License</a></li>
										<li><a href="#">Privacy & Policy</a></li>
										<li><a href="#">Term Of Service</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</footer>
	<!-- End of footer section
		============================================= -->


</Layout>